* {
  transition-timing-function: cubic-bezier(0.42, 0, 0, 1.24);
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
}

.clickable {
  transition-duration: 200ms;
  transform: scale(1);
}

.clickable:active {
  transform: scale(0.9);
}

#menuIcon {
    position: absolute;
    right: -60px;
    top: 10px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: black;
    z-index: 10;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e8eaed'%3E%3Cpath d='M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z'/%3E%3C/svg%3E");
}

body {
  margin: 0;
}

canvas {
  image-rendering: pixelated;
  position: absolute;
  transition-duration: 200ms;
}

.none {
  display: none;
}

#customROM {
  display: none;
}

#customROMLabel div {
  width: 300px;
}

#customROMValue {
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

#romInstructions {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  z-index: 1;
}

#romInstructions.close {
  width: 100%;
}

#romInstructions.open {
  width: calc(100% - 300px);
}

code {
  font-size: 14px;
}

#tetrisLoader {
  text-decoration: underline;
  cursor: pointer;
  z-index: 1000;
}